<div class="blog-wrapper clearfix">
  <% if @newest_post %>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix padding-0">
      <div class="blog-wrapper clearfix home-page">
        <ul class="blog-content clearfix">
          <li class="blog-head-bar title">Blog Content</li>
          <li class="blog-head-bar author">Author Info</li>
          <li class="title">
            <%= @newest_post.title %>
            <br />
            <%= @newest_post.content.html_safe %>
          </li>
          <li class="author-detail">
            <%= @newest_post.account.full_name %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="no-content clearfix">
      <h2>No Posted Blog til now</h2>
    </div>
  <% end %>
</div>
