// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-wrapper {
  .navigation {
    height: 85px;
    background-color: rgba(0, 0, 0, 0.85);
    border-bottom: 5px solid #4da442;
    line-height: 85px;
    .blog-title {
      font-size: 24px;
      color: #fafafa;
      padding-left: 30px;
    }
    nav.navbar {
      margin-bottom: 0px;
    }
    nav.navbar-inverse {
      background-color: transparent;
      border-color: transparent;
    }
  }
  .home-content {
    background: -webkit-linear-gradient(left bottom, #ccc, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left bottom, #ccc, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left bottom, #ccc, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left bottom, #ccc, white);
    .decorating-place {
      border: 3px solid #f4f4f4;
      background: url("/assets/deco.jpeg") no-repeat left center;
      background-size: cover;
    }
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
