<!DOCTYPE html>
<html>
  <head>
    <title>RthBlogPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="clearfix home-wrapper">
      <div class="navigation clearfix">
        <div class="blog-title col-lg-6 col-md-6 col-sm-5 col-xs-8">Blog title</div>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="/" data="home">Home</a></li>
                  <li><a href="/blog_posts" >Blogs</a></li>
                  <% if current_account.nil? %>
                    <li><a href="/accounts/sign_in">Login</a></li>
                  <% else %>
                    <li><a href="#" class="log-out">Logout</a></li>
                  <% end %>
              </ul>
          </div>
        </nav>

      </div>
      <div class="home-content clearfix">
        <div class="container clearfix">
          <div class="decorating-place clearfix"></div>
          <div class="blog-wrapper clearfix">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer clearfix">
      </div>
    </div>
  </body>
</html>
